<%- include("header") -%>
    <img class="image" src="/images/home-bg.jpg" alt="blog">
    <h1>Home</h1>
    <p class="para">
        <%= startingContent %>
    </p>
            <%- include("footer") -%>